<template>
   <Cabecalho-Home />  
   <Home />  
   <Contato />  


</template>

<script>
import Cabecalho from '@/components/Cabecalho'
import Home from '@/components/Home'
import Contato from '@/components/Contato.vue'

export default {
components: {
  'Cabecalho-Home': Cabecalho,
  'Home': Home,
  'Contato': Contato,

 }
}
</script>
